{% load static %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/acbanner2.png' %}" width="100%">
            </div>
            <div class="col-2">                
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" required name="username" placeholder="Username">
                        <input type="password" required name="password" placeholder="Password">
                        <button type="submit"  name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" maxlength="10" minlength="3" required placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="password" name="password" minlength="6" required placeholder="Password">
                        <input type="text" name="address"  minlength="5" required placeholder="Address">
                        <input type="text" name="phone" maxlength="10" minlength="3" required placeholder="Phone.No">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
                <!--To display if have any messages errors or succsess-->
                {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                    <!--The message.tags is the attribute from the message method-->
                    <!--So when the tag message is success it execute the success class and same for the error message-->
                       <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}      
                </div>          
                {% endif %}
            </div>
            
        </div>
    </div>
</div>