{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Give Your Sport<br>A New Signature!</h1>
        <p>Success isn't always about greatness. It;s about consistency. Consistent <br> hard work gains
            success. Greatness will come.</p>
        <p>Discover our exquisite collection of sports equipments, <br>crafted to sports for your greatness. </p>
        <a href="/product_list" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="{% static 'images/banner.png' %}">
    </div>
</div>